
name: Display Paths

on:
  workflow_dispatch:
jobs:
  Macx64:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, macos-15-intel]
    
    steps:
      - run: |
          pwd
      - run: |
          printenv | sort
      - run: |
            ls -la $HOME/actions-runner
            ls -la $HOME/actions-runner/cached
            ls -la $HOME/actions-runner/cached/_diag
            ls -la $HOME/actions-runner/cached/_diag/pages



  Ubuntuarm64:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04-arm,ubuntu-22.04-arm]
    
    steps:
      - run: |
          pwd
      - run: |
          printenv | sort
      - run: |
            ls -la $HOME/actions-runner
            ls -la $HOME/actions-runner/cached
            ls -la $HOME/actions-runner/cached/2.330.0
            ls -la $HOME/actions-runner/extracted
            ls -la $HOME/actions-runner/extracted/_diag
            ls -la $HOME/actions-runner/extracted/_diag/pages

      - name: Find runner.listener logs
        run: |
            find $HOME/actions-runner -type f -iname "*listener*"
            
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Check Runner.Listener and _diag Folder
        shell: pwsh
        run: |
          
          # Get the process information for Runner.Listener
          $process = Get-Process -Name "Runner.Listener" -ErrorAction SilentlyContinue

          if ($process) {
            Write-Host "Runner.Listener process is running."
        
            # Get the working directory of the Runner.Listener process
            $runnerDir = Split-Path -Path $process.Path -Parent
            Write-Host "Runner.Listener is located in: $runnerDir"
        
            # Check if the Runner.Listener process is running under HOME
            if ($runnerDir -like "$HOME*") {
                Write-Host "Runner.Listener process is running under $HOME."
            } else {
                Write-Host "Runner.Listener process is NOT running under $HOME."
            }
        
            # Check for the _diag folder under the Runner.Listener directory
            $diagFolderPath = Join-Path -Path $runnerDir -ChildPath "_diag"
            if (Test-Path -Path $diagFolderPath) {
                Write-Host "_diag folder found at: $diagFolderPath"
            } else {
                Write-Host "_diag folder not found under the Runner.Listener directory."
            }
          } else {
            Write-Host "Runner.Listener process is not running."
          }
          
  Windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, windows-11-arm]
    
    steps:
      - run: |
          pwd
      - run: |
          printenv | sort
      - run: |
            Get-ChildItem C:\actions-runner -Force
            Get-ChildItem C:\actions-runner\cached -Force
            Get-ChildItem C:\actions-runner\cached\_diag -Force
            Get-ChildItem C:\actions-runner\cached\_diag\pages -Force


