
name: Display Paths

on:
  workflow_dispatch:
jobs:
  Macx64:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, macos-15-intel]
    
    steps:
      - run: |
          pwd
      - run: |
          printenv | sort
      - run: |
            ls -la $HOME/actions-runner
            ls -la $HOME/actions-runner/cached


  Ubuntuarm64:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04-arm,ubuntu-22.04-arm]
    
    steps:
      - run: |
          pwd
      - run: |
          printenv | sort
      - run: |
            ls -la $HOME/actions-runner
            ls -la $HOME/actions-runner/cached
            ls -la $HOME/actions-runner/extracted

  Windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, windows-11-arm]
    
    steps:
      - run: |
          pwd
      - run: |
          printenv | sort
      - run: |
            Get-ChildItem C:\actions-runner -Force
            Get-ChildItem C:\actions-runner\cached -Force


