
name: Display Paths

on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, macos-15-intel, ubuntu-24.04-arm,ubuntu-22.04-arm, windows-11-arm]
    
    steps:
      - run: |
          pwd
      - run: |
          printenv | sort
      - run: |
            ls -la $HOME/actions-runner
